/* Common styles for all screen sizes */
body {
    text-align: center;
    background: url("backgroundFirstPagePC.jpg");
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transform: scale(0.85);
}

#tic-tac-toe-heading {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 80px;
    margin-top: 60px;
    margin-bottom: -160px;
    height: 90px;
    width: 80%;
    background: rgb(211, 206, 206);
    border-radius: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0% 5% 0% 5%;
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    height: 55vh;
}

.button {
    font-size: 120px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 40px;
    cursor: pointer;
    transition: background-color 1s, border-width 90ms;
    border: 2px solid;
}

.Xbutton:hover {
    background-color: rgb(235, 175, 175);
    border: 1px solid black;
    border-width: thick;
    color: red;
}

.buttonContainer {
    width: 300px;
    height: fit-content;
    position: relative;
}

.Obutton:hover {
    background-color: rgb(161, 205, 240);
    border: 1px solid black;
    border-width: thick;
    color: blue;
}

.choice-heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    margin-top: 260px;
    margin-bottom: -20px;
    height: 60px;
    width: 750px;
    min-width: 380px;
    background: rgb(211, 206, 206);
    border-radius: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
}

#or {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    height: 1.5em;
    width: 170px;
    margin-left: 2em;
    margin-right: 2em;
    background: rgb(211, 206, 206);
    border-radius: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* For smaller screens - Mobile Phones */
@media screen and (max-width: 768px) {

    body {
        background: url("backgroundFirstPageMobile.jpg");
    }

    #tic-tac-toe-heading {
        font-size: 2.3em;
        margin-top: 30px;
        margin-bottom: -80px;
        margin-left: 2%;
        margin-right: 2%;
        width: 8em;
    }

    .button {
        font-size: 60px;
        padding: 15px 30px;
    }

    .choice-heading {
        font-size: 27px;
        margin-top: 50%;
        margin-bottom: -10px;
        margin-left: 10%;
        margin-right: 10%;
        width: 90%;
    }

    #or {
        font-size: 50px;
        height: 60px;
        width: 2.5em;
        margin-left: -1%;
        margin-right: -1%;
    }

    .buttonContainer {
        width: 160px;
        ;
        height: fit-content;
        position: relative;
    }
}