/* Default styles for all screen sizes */
body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 100vh;
    margin: 0;
    background-image: url("backgroundSecondPage.jpg");
    overflow: hidden;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 0px;
}

.cell {
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    font-size: 90px;
    text-align: center;
    border: 1px solid #090909;
    cursor: pointer;
    border-width: thick;
    background-color: darkgray;
    opacity: 0.8;
    transition: border-width 90ms;
}

.cell:hover {
    background-color: #f0f0f0;
    border: 1px solid #090909;
    border-width: medium;
}

.reset:hover {
    background-color: #f0f0f0;
}

#message {
    font-size: 2em;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 16em;
    height: 75px;
    line-height: 70px;
    background: rgb(211, 206, 206);
    border-radius: 100px;
    margin: 2% 0 1% 0;
}

.reset {
    font-size: 40px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 20px 10px 20px;
    width: 300px;
    height: 60px;
    line-height: 60px;
    background: rgb(211, 206, 206);
    border-radius: 100px;
    cursor: pointer;
    display: none;
    flex: 1;
}

.score {
    font-size: 55px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 45px 5px 45px;
    width: 120px;
    height: 70px;
    line-height: 70px;
    background: rgb(211, 206, 206);
    border-radius: 100px;
    flex: 1;
}

.player_name {
    font-size: 40px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 40px 5px 40px;
    width: 130px;
    height: 60px;
    background: rgb(211, 206, 206);
    border-radius: 20px;
    flex: 1;
}

.float-container {
    display: flex;
}

/* Media queries for smaller screens */
@media screen and (max-width: 768px) {
    .board {
        grid-template-columns: repeat(3, 80px);
    }

    .cell {
        width: 80px;
        height: 80px;
        font-size: 70px;
    }

    #message {
        font-size: 1.3em;
        align-items: center;
        display: flex;
        justify-content: center;
        min-width: unset;
        width: 12.5em;
        margin: 5% 0 1% 0;
    }

    .reset {
        font-size: 20px;
        width: 130px;
        height: 40px;
        line-height: 40px;
        margin-top: 7%;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
    }

    .score {
        font-size: 40px;
        margin: 30px 20px 5px 20px;
        width: 100px;
        height: 60px;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .player_name {
        font-size: 30px;
        margin: 30px 20px 5px 20px;
        width: 100px;
        height: 55px;
        line-height: 50px;
    }
}